.cart_container{
  width: 80%;
  margin: 0 auto;
}


.pd_img{
  display: flex;

}

.pd_info_img img{
  width: 100px;
  height: 100px;
  line-height: 200px;
}

input[type=checkbox]{
  line-height: 200px;
}

.productList_title{
  text-align: center;
  margin-bottom: 100px;
}

.total_price{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.purchaseBtn{
  margin-top: 50px;
  text-align: center;
  
}

tr{
  border-bottom: 1px solid black;
}

.productList_title{
  text-align: center;
}

