* {
  box-sizing: border-box;
}

.banner img {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

.topnav-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  height: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  /* position: fixed; */
}

.logo,
.form,
.topnav-menus {
  text-align: center;
  flex: 50%;
  margin: 10px;
}

.menus {
  display: flex;
  justify-content: center;
  line-height: 10px;
  margin-top: 3px;
  text-align: center;
}

li {
  text-decoration: none;
  list-style: none;
}

.logo img {
  width: 150px;
}

.menu-item {
  font-size: 0.8em;
  padding: 5px;
}

.menu-item a {
  width: 10px;
}

.menu-item a p {
}

.form input {
  border-radius: 20px;
  background-color: #eee;
  width: 400px;
  height: 35px;
}

a:link {
  color: black;
  text-decoration: none;
}
/* 슬라이더 */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.category-menu {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 80px;
  border-top: 1px solid #ddd;
  padding: 10px 60px 60px;
}

/* 메인페이지 타이틀 */

.main-title {
  text-align: center;
}

/* 상품리스트 */
.item-list-container {
  width: 80%;
  height: 230px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  margin: 0 auto;
  margin-bottom: 100px;
  gap: 10px;
}

.item img {
  height: 178px;
}

.store-title p {
  font-size: 15px;
  margin-bottom: 1px;
}

.product-description p {
  margin-top: 4px;
  margin-bottom: 1px;
}

.product-price p {
  margin-top: 4px;
  font-weight: bold;
}

.hit-number p {
  font-weight: lighter;
  font-size: 10px;
}








