@charset "UTF-8";

.main-title {
  text-align: center;
  padding: 50px;
  border-bottom: 50px;
}

.mypage-menu {
  text-align: center;

  width: 80%;
  margin: 0 auto;
  height: 100px;
}
.row {
  line-height: 100px;
  background-color: #fcfcfc;
}

.container-sm {
  padding: 0;
}

.col-sm {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#collapseExample {
  text-align: center;
}

.container{
  width: 70%;
  margin: 0 auto;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
#idCheck {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.editProfieBtn {
  width: 50%;
}

.container {
  padding: 16px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .editProfieBtn {
     width: 100%;
  }
}

#pwdToggleBtn {
	background-color: #4CAF50;
  	color: white;
  	width: 50%;
  	border-radius: 0;
}
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: dodgerblue;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
