@charset "UTF-8";

a {
  text-decoration: none;
  color: #ffffff;
}

.sideBar_content_container{
	display:flex;
}

.sideBar_container{
	flex-grow: 2;
	
}

.productList_container{
	flex-grow: 8;
	margin-left: 0;
}



.productList_title {
  text-align: center;
  margin-bottom: 100px;
      margin-right: 100px;
}

.pd_info_table {

    width: 90%;
    margin: 0 auto;
    margin-left: 0;
}

.pd_info_title h2 {
  margin-left: 77px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 30px;
}

.total_price h1 {
  text-align: right;
  margin-right: 90px;
}

li {
  list-style: none;
}

.pd_info_wrap {
  display: flex;
}

.member_info_title {
  width: 90%;
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 30px;
}

.member_info_container td {
  font-size: large;
}

.address_info_container h1 {
  margin-left: 70px;
  margin-top: 80px;
}

.pay_btn {
  padding: 25px;
  width: 100%;
  max-width: 260px;
  text-align: center;
  margin: 0px auto;
  display: block;
  background: #000000;
  color: #ffffff;
  font-size: 1.5em;
}