@charset "UTF-8";

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.product-detail-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.product-image img {
  width: 518px;
}

.product-info-container {
  margin-left: 50px;
}

.detail-title h1 {
  font-family: 'Noto Sans KR', 'Spoqa Han Sans', Sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  outline-color: rgba(42, 116, 200, 0.9);
  -webkit-tap-highlight-color: rgba(42, 116, 200, 0.3);
}

.review-info {
  display: flex;
}

.total-reviews {
  margin-left: 30px;
  text-decoration: underline;
}

select {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

.price-total-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.btn-purchase-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
}

.fa-heart,
.fa-shopping-cart {
  color: dodgerblue;
}

.btn-purchase-1 button {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  justify-content: flex-start;
  background-color: black;
  color: white;
}

.btn-purchase-2 button {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  justify-content: flex-start;
  background-color: #00c73c;
  color: white;
}

.btn-purchase-3 {
  border: 1px solid black;
  border-radius: 8px;
  width: 50px;
  height: 40px;
}

.btn-purchase-3 i {
  color: black;
  margin: 0 auto;
  line-height: 40px;
}

/* tab-info */

.tab-detail-info {
  margin: 0 auto;
}

.tab-details {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 0;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.tab-details-item a {
  font-weight: 500;
}

.product-description {
  margin-top: 150px;
  width: 80%;
  margin: 150px auto;
}

.product-description p {
  text-align: center;
}

.product-img {
  width: 80%;
  margin: 0 auto;
}

/* review */
.review-container {
  width: 80%;
  margin: 0 auto;
}

.tab-review {
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 26px;
}

.score-review {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 6px;
  height: 60px;
  padding: 5px;
}

.score-letter {
  margin-left: 40px;
  line-height: 60px;
  margin-top: 0;
}

.score-letter p {
  font-size: 26px;
  color: #9a9a93;
  margin-top: 0;
}

.score-star {
  margin-right: 40px;
  line-height: 60px;
  margin-top: 0;
}

.score-star p {
  font-size: 26px;
  margin-top: 0;
}

.review-content-contaier {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 30px;
}

.user-score-id {
  display: flex;
}

.user-review {
  border-bottom: 1px solid #e6e6e6;
}

/* review, qna paging */

.review-page-container,
.qna-page-container {
  text-align: center;
  margin-top: 40px;
}

.review-page-container a,
.qna-page-container a {
  padding: 20px;
  border: 1px solid #e6e6e6;
  min-width: 46px;
  height: 46px;
}

/* Q&A */

.qna-container {
  width: 80%;
  /* margin-top: 100px; */
  margin: 0 auto;
}
.tab-qna {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 26px;
}

.tab-qna-right {
  display: flex;
}

.user-write {
  margin-right: 30px;
}
.user-write button {
  background-color: blanchedalmond;
}

/* qna write table */

.qna-write-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.qna-write-container input[type='text'] {
  width: 100%;
  height: 35px;
  padding: 10px;
  margin-bottom: 20px;
}

.qna-write-container textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
}

.chk-private {
  width: 100%;
}

.qna-write-btn {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.qna-write-btn button {
  width: 200px;
  height: 50px;
}
/* Q&A table */

thead,
tbody,
tr {
  border-bottom: 1px solid #e1e1e1;
}
.qna-list-container {
  width: 100%;
  table-layout: fixed;
}

table {
  width: 80%;
  padding: 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.qna-content .wrap {
  display: flex;
  text-align: center;
}

.wrap i {
  line-height: 80px;
  text-align: center;
  padding: 30px;
  margin-left: 50px;
}

.wrap h3 {
  line-height: 100px;
}
